//
   Created by ocoka on 07.09.14.
include ../bemto/bemto
include ../assets/flex-menu
include ../assets/doc-entry

doctype html
html
    head
        title Test this out
        link(href='css/main.css',rel='stylesheet')
    body
        +doc-entry("Amanda")
            +doc-atts
                -var n=1
                while n<10
                    -name="TEST"+n
                    +doc-att(name,["array","static"]) test#{n}
                    -n++
        div.footer end of page
