//
   Created by ocoka on 07.09.14.
include ../bemto/bemto
include ../assets/flex-menu

doctype html
html
    head
        title Test this out
        link(href='css/main.css',rel='stylesheet')
    body
        +flex-menu(women='Женщинам',men='Мужчинам',unisex='Унисекс',brand='Бренды',sale='Скидки',l1='Уровень1',l2='Уровень6',l3='Уровень5',l4='Уровень4',l5='Уровень3',l6='Уровень2')
